.htSon_content2{  margin:20px auto; background:#ffffff; border-bottom:solid 1px #ebebeb; }
.htTitle{ background:url(../../img/web/type2/product_bg.jpg) repeat-x; border-right:solid 1px #ebebeb; width:100%;}
.htH2_two{ background:url(../../img/web/type2/title_bg.jpg) no-repeat left top; height:62px; line-height:62px; color:#4f4f4f; font-weight:normal;font-family:"Î¢ÈíÑÅºÚ"; text-indent:30px; font-size:20px;}
.htProduct{ border-left:solid 1px #ebebeb;border-right:solid 1px #ebebeb;  padding:30px 28px 30px 28px; width:877px; float:left;}
.htList{ border:solid 1px #f3f3f3; padding:10px 26px 10px 26px; background:#fcfcfc; float:left; width:830px;}
.htList li{ height:36px; float:left; font-size:14px;color:#707070; line-height:36px; width:205px;}
